body {
  background-color: grey;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.outer-div {
  height: 100%;
  width: 70%;
  margin-left: 20%;
  background-color: white;
  border: 1px solid black;
}

/* <!-- Youtube search bar css  --> */
.nav-div {
  font-size: 0.9em;
  background-color: white;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
}

.language-div {
  height: 70px;
  background-color: white;
  border: 2px solid blue;
}

.blue-language-div {
  height: 50%;
  background-color: blue;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 0.9em;
  display: flex;
  text-align: right;
}
.blue-language-div p {
  margin-left: 85%;
  margin-top: -3px;
}
.white-language-div {
  height: 50%;
  color: black;
  padding-top: -5px;
  display: flex;
  font-size: 0.9em;
}
.white-lang-learn {
  padding-left: 53%;
  color: blue;
}

.white-lang-English {
  padding-left: 1%;
  padding-top: 2px;
}

.white-lang-span {
  color: blue;
}
/* Div for youtube icon and menu */
.menu-div {
  /* padding:20px; */
  width: 30%;
  float: right;
  display: flex;
}

/* Div for search bar and button */
.search-div {
  padding: 20px;
  width: 65%;
}

#search-button {
  border: none;
  background-color: white;
  color: grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-left: -4px;
  height: 26px;
}

/* Div for upload and signin button */
.upload-div {
  padding: 20px;
  width: 15%;
  height: 100%;
  color: white;
}

/* Youtube pic  */
#youtubepic {
  /*  padding-top: 20px; */
  position: relative;
}

/* menu bar id  */
#menu-id {
  height: 100%;
  width: 25%;
  background-color: white;
  border: none;
  color: grey;
}

.yt-logo {
  position: relative;
  top: 30%;
}

.yt-country {
  position: relative;
  top: 25%;
}

/* text space id  */
#textspace {
  width: 90%;
  height: 20px;
  margin-top: -30px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

/* sign in button  */
.signin-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  border: none;
  font-size: 10px;
}

#uploader_button {
  background-color: green;
  border: none;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  color: white;
  margin-left: 15px;
  margin-right: 10px;
}

#video_title {
  font-weight: bold;
  margin-left: 30px;
}

#Odin_project {
  margin-left: 90px;
  margin-top: -13%;
  color: black;
}

.video_and_sidebar {
  display: flex;
  height: 100%;
  flex-direction: row;
  margin: 4px;
}

.video_side {
  width: 60%;
  background-color: white;
  position: relative;
}

.sidebar_side {
  width: 40%;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.uploader_div {
  height: auto;
  display: flex;
  flex-direction: row;
}

.loading {
  text-align: center;
  height: 8em;
  padding: 2em;
}

.T-div {
  width: 10%;
}

.Odin-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-family: sans-serif;
  font-size: 0.8em;
  color: black;
}

.no_subscribers_div {
  width: 50%;
  position: relative;
  margin-bottom: -1.5%;
}

#subscribers {
  position: absolute;
  bottom: -10px;
  right: 1px;
  color: grey;
  font-size: 17px;
  float: right;
}

.social_sites_div {
  height: auto;
  background-color: white;
  display: flex;
  position: relative;
}

/*  add share like dislike css */
.add_share_more {
  width: 60%;
}

/* Formating text behind Add More Share Like and Dislike Buttons */
#social_text {
  font-size: 10px;
  font-style: Arial;
  border: none;
  margin: 5px;
  color: grey;
}

.social_sites_div button {
  border: none;
  background-color: white;
  color: grey;
}

.like_dislike {
  width: 40%;
  text-align: right;
}

.lk-border {
  margin-top: -7%;
  height: 2px;
  background-image: linear-gradient(to right, grey 10%, blue 90%);
  margin-bottom: 2.5%;
}

/* Description text */
.description-txt {
  background-color: white;
  font-size: 10px;
  position: relative;
}

#show {
  font-size: 10px;
  font-style: monospace;
  border: none;
  background-color: white;
  position: absolute;
  right: 250px;
}

/* CSS for contents of sidebar section */
.sidebar-autoplay {
  display: flex;
  flex-direction: row;
  background-color: pink;
}

.sdb-upnext {
  padding: 3px;
}

.sdb-autoplay {
  width: 100%;
  margin-top: -12px;
  display: flex;
  background-color: red;
  text-align: right;
  height: auto;
}

.feedcontainer {
  width: auto;
  height: 15%;
  background-color: white;
  display: flex;
  margin-top: 20px;
}

.feedcontainer p {
  border: none;
  margin: 0;
  color: grey;
  font-size: small;
  margin-left: 10px;
}

.feedcontainer h5 {
  border: none;
  margin: 0;
  color: black;
  margin-left: 10px;
}

#feedimage {
  width: 80%;
  height: 80%;
}

#feedimage h5 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: red;
}

/* Section for footer division classes */
.ft-div {
  display: flex;
  padding: 0% 5% 0% 5%;
  flex-direction: column;
  background-color: white;
}

.ft-ytlink {
  flex-direction: row;
}

.dropbtn {
  margin-top: -2%;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;
  margin-left: 3%;
  font-size: 0.6em;
}

.ft-text {
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 2%;
  font-family: sans-serif;
}
